{% extends '@AimeosShop/base.html.twig' %}

{% block aimeos_header %}
    <title>Profile</title>
    {{ (aiheader['locale/select'] ?? '')|raw }}
    {{ (aiheader['basket/mini'] ?? '')|raw }}
    {{ (aiheader['account/profile'] ?? '')|raw }}
    {{ (aiheader['account/review'] ?? '')|raw }}
    {{ (aiheader['account/subscription'] ?? '')|raw }}
    {{ (aiheader['account/basket'] ?? '')|raw }}
    {{ (aiheader['account/history'] ?? '')|raw }}
    {{ (aiheader['account/favorite'] ?? '')|raw }}
    {{ (aiheader['account/watch'] ?? '')|raw }}
    {{ (aiheader['catalog/search'] ?? '')|raw }}
    {{ (aiheader['catalog/session'] ?? '')|raw }}
    {{ (aiheader['catalog/tree'] ?? '')|raw }}
{% endblock %}

{% block aimeos_head_basket %}
    {{ (aibody['basket/mini'] ?? '')|raw }}
{% endblock %}

{% block aimeos_nav %}
    {{ (aibody['catalog/tree'] ?? '')|raw }}
{% endblock %}

{% block aimeos_head_locale %}
    {{ (aibody['locale/select'] ?? '')|raw }}
{% endblock %}

{% block aimeos_search %}
    {{ (aibody['catalog/search'] ?? '')|raw }}
{% endblock %}

{% block aimeos_body %}
    <div class="container">
        {{ (aibody['account/profile'] ?? '')|raw }}
        {{ (aibody['account/review'] ?? '')|raw }}
        {{ (aibody['account/subscription'] ?? '')|raw }}
        {{ (aibody['account/basket'] ?? '')|raw }}
        {{ (aibody['account/history'] ?? '')|raw }}
        {{ (aibody['account/favorite'] ?? '')|raw }}
        {{ (aibody['account/watch'] ?? '')|raw }}
    </div>
{% endblock %}

{% block aimeos_aside %}
    {{ (aibody['catalog/session'] ?? '')|raw }}
{% endblock %}
