<!DOCTYPE html>
<html>
    <head>
        <title>Aimeos administration Interface</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/resources/css/ext-all.css" />
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/resources/css/xtheme-gray.css" />
{% for cssFile in cssFiles %}
        <link rel="stylesheet" href="/bundles/aimeosshop/{{cssFile}}" />
{% endfor %}

        <script type="text/javascript">
        window.MShop = {

            i18n: {
                lang: '{{lang}}',
                content: {{i18nContent|raw}},
                available: {{languages|raw}}
            },

            config: {
                site: {{site|raw}},
                data: {{config|raw}},
                smd: {{smd|raw}},
                itemschema: {{itemSchemas|raw}},
                searchschema: {{searchSchemas|raw}},
                urlTemplate: '{{urlTemplate|raw}}',
                jqadmurl: '{{jqadmurl|raw}}',
                activeTab: {{activeTab}},

                baseurl: {
                    content: '{{uploaddir}}'
                },

                update: {
                    type: 'Symfony',
                    version: '{{version}}',
                    extensions: '{{extensions}}'
                }
            }
        }
        </script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/ext-all.js"></script>
        <script type="text/javascript" src="{{ path('aimeos_shop_extadm_file', {'site': 'default'}) }}"></script>

    </head>
    <body>
        <noscript><p>You need to enable javascript!</p></noscript>
    </body>
</html>
