{% extends '@AimeosShop/base.html.twig' %}

{% block aimeos_header %}
    {{ (aiheader['locale/select'] ?? '' )|raw }}
    {{ (aiheader['basket/mini'] ?? '' )|raw }}
    {{ (aiheader['catalog/search'] ?? '' )|raw }}
    {{ (aiheader['catalog/tree'] ?? '' )|raw }}
    {{ (aiheader['catalog/session'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_head %}
    {{ (aibody['locale/select'] ?? '' )|raw }}
    {{ (aibody['basket/mini'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_nav %}
    {{ (aibody['catalog/tree'] ?? '' )|raw }}
    {{ (aibody['catalog/search'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_body %}
    <div class="container-xl">
        {{ (aibody['catalog/session'] ?? '' )|raw }}
    </div>
{% endblock %}
