{% extends '@AimeosShop/base.html.twig' %}

{% block aimeos_header %}
    {{ (aiheader['locale/select'] ?? '')|raw }}
    {{ (aiheader['basket/mini'] ?? '')|raw }}
    {{ (aiheader['catalog/tree'] ?? '')|raw }}
    {{ (aiheader['catalog/search'] ?? '')|raw }}
    {{ (aiheader['supplier/detail'] ?? '')|raw }}
    {{ (aiheader['catalog/lists'] ?? '')|raw }}
{% endblock %}

{% block aimeos_head_basket %}
    {{ (aibody['basket/mini'] ?? '')|raw }}
{% endblock %}

{% block aimeos_head_nav %}
    {{ (aibody['catalog/tree'] ?? '')|raw }}
{% endblock %}

{% block aimeos_head_locale %}
    {{ (aibody['locale/select'] ?? '')|raw }}
{% endblock %}

{% block aimeos_head_search %}
    {{ (aibody['catalog/search'] ?? '')|raw }}
{% endblock %}

{% block aimeos_body %}
    <div class="container-fluid">
        {{ (aibody['supplier/detail'] ?? '')|raw }}
        {{ (aibody['catalog/lists'] ?? '')|raw }}
    </div>
{% endblock %}
