 {% extends '@AimeosShop/base.html.twig' %}

 {% block aimeos_header %}
    <title>Thank you</title>
    {{ aiheader['checkout/confirm']|raw }}
    {{ aiheader['catalog/search']|raw }}
    {{ aiheader['catalog/tree']|raw }}
 {% endblock %}

{% block aimeos_head_nav %}
    {{ (aibody['catalog/tree'] ?? '')|raw }}
{% endblock %}

{% block aimeos_head_search %}
    {{ (aibody['catalog/search'] ?? '')|raw }}
{% endblock %}

{% block aimeos_body %}
    <div class="container-fluid">
        {{ aibody['checkout/confirm']|raw }}
    </div>
{% endblock %}
