<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ localeDir }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: blob: https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; style-src 'unsafe-inline' 'self' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; script-src 'unsafe-eval' 'self' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://cdnjs.cloudflare.com https://cdn.jsdelivr.net https://*.tile.openstreetmap.org https://aimeos.org; frame-src https://www.youtube.com">

		<title>Aimeos administration interface</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css" />
{% if localeDir == "rtl" %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.rtl.min.css">
{% else %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.min.css">
{% endif %}
		<link rel="stylesheet" href="{{ path('aimeos_shop_jqadm_file', {'site': 'default', 'type': 'css', 'locale': 'en'}) }}">
		<style>
			body.dark .btn-theme.dark-mode {display:none}
			body.light .btn-theme.light-mode {display:none}
			.app-menu .icon {vertical-align: middle; padding: 0.5rem 1rem; font-size: 125%}
		</style>
	</head>
	<body class="{{ theme }}">
		<div class="app-menu">
			<span class="menu"></span>
			<div class="app-menu-end">
				<i class="icon btn-theme light-mode fa fa-sun-o"></i><i class="icon btn-theme dark-mode fa fa-moon-o"></i>
				<a class="logout fa fa-sign-out" aria-hidden="true" href="{{ path('fos_user_security_logout') }}"></a>
			</div>
		</div>

{{content|raw}}

		<script type="text/javascript" src="{{ path('aimeos_shop_jqadm_file', {'site': 'default', 'type': 'js', 'locale': 'en'}) }}"></script>
	</body>
</html>
