{% extends '@AimeosShop/base.html.twig' %}

{% block aimeos_header %}
    {{ (aiheader['locale/select'] ?? '' )|raw }}
    {{ (aiheader['basket/mini'] ?? '' )|raw }}
    {{ (aiheader['catalog/search'] ?? '' )|raw }}
    {{ (aiheader['catalog/tree'] ?? '' )|raw }}
    {{ (aiheader['catalog/price'] ?? '' )|raw }}
    {{ (aiheader['catalog/supplier'] ?? '' )|raw }}
    {{ (aiheader['catalog/attribute'] ?? '' )|raw }}
    {{ (aiheader['catalog/session'] ?? '' )|raw }}
    {{ (aiheader['catalog/stage'] ?? '' )|raw }}
    {{ (aiheader['catalog/lists'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_head %}
    {{ (aibody['locale/select'] ?? '' )|raw }}
    {{ (aibody['basket/mini'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_nav %}
    {{ (aibody['catalog/tree'] ?? '' )|raw }}
    {{ (aibody['catalog/search'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_stage %}
    {{ (aibody['catalog/stage'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_body %}
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg-3">
                <div class="catalog-filter-group">
                    {{ (aibody['catalog/price'] ?? '' )|raw }}
                    {{ (aibody['catalog/supplier'] ?? '' )|raw }}
                    {{ (aibody['catalog/attribute'] ?? '' )|raw }}
                </div>
                {{ (aibody['catalog/session'] ?? '' )|raw }}
            </aside>
            <div class="col-lg-9">
                {{ (aibody['catalog/lists'] ?? '' )|raw }}
            </div>
        </div>
    </div>
{% endblock %}
