{% extends '@AimeosShop/base.html.twig' %}

{% block aimeos_header %}
    {{ (aiheader['locale/select'] ?? '' )|raw }}
    {{ (aiheader['basket/mini'] ?? '' )|raw }}
    {{ (aiheader['catalog/search'] ?? '' )|raw }}
    {{ (aiheader['catalog/filter'] ?? '' )|raw }}
    {{ (aiheader['catalog/tree'] ?? '' )|raw }}
    {{ (aiheader['catalog/session'] ?? '' )|raw }}
    {{ (aiheader['catalog/stage'] ?? '' )|raw }}
    {{ (aiheader['catalog/lists'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_head_basket %}
    {{ (aibody['basket/mini'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_head_locale %}
    {{ (aibody['locale/select'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_head_nav %}
    {{ (aibody['catalog/tree'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_head_search %}
    {{ (aibody['catalog/search'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_stage %}
    {{ (aibody['catalog/stage'] ?? '' )|raw }}
{% endblock %}

{% block aimeos_body %}
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg-3">
                {{ (aibody['catalog/filter'] ?? '' )|raw }}
                {{ (aibody['catalog/session'] ?? '' )|raw }}
            </aside>
            <div class="col-lg-9">
                {{ (aibody['catalog/lists'] ?? '' )|raw }}
            </div>
        </div>
    </div>
{% endblock %}
